*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #0c1022;
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
}

.navbar a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a.it,
.navbar a:hover{
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}



/*SECTION AREA*/

section{
  padding: 100px 10%;
}

.home{
   width: 100%;
   height: 100%;
   min-height: 100vh;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center; 
   grid-gap: 4rem;
   
}

.contents{
    align-items: center;
    margin-left: 175px;
    max-width: 600px;
}

.contents h1{
    font-size: 50px;
    font-weight: 600px;
}

.contents h3{
    font-size: 30px;
    font-weight: 600px;
}

.info{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin: 1rem 0 2rem;
}

.info h5{
  font-weight: 600;
  color: #f5f5f5;
}

.info span{
  font-size: 9rem;
}

.contents .btn-box{
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 45px;

}

.contents .btn-box a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: transparent;
  color: #f5f5f5;
  border: 2px solid #12f7ff;
  font-size: #f5f5f5;
  letter-spacing: 1px;
  font-weight: 600;
  overflow: hidden;
  transition: .6s;
  box-shadow: 0 0 .8rem #12f7ff;
  z-index: 1;
  position: relative;
  text-decoration: none;
}

.btn-box a:hover{
  color: #250821;
}

.contents .btn-box a::before{
  content: "";
  position: absolute;
  top: 0;
  left: o;
  height: 100%;
  background: #12f7ff;
  width: 0;
  z-index: -1;
  transition: .6s;
}

.contents .btn-box a:hover::before{
  width: 100%;
}

.btn-box a:nth-child(1){
  background: #12f7ff;
  color: #0c1022;
}

.btn-box a:nth-child(1)::before{
  background-color: #0c1022;
}

.btn-box a:nth-child(1):hover{
  background-color: #12f7ff;
}

.image{
  position: relative;
}

.img-box{
  text-align: center;
}

img{
  width: 50rem;
  height: 35rem;
  
}



/*FORM AREAR*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .card {
    width: 300px;
    background-color: #1e213a;
    padding: 20px;
    border-radius: 10px;
    border-top: 4px solid #19d4ca;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    color: #fff;
    transition: box-shadow 0.3s;
  }

  textarea{
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    color: #fff;
    transition: box-shadow 0.3s;
  }

  textarea:focus{
    box-shadow: 0 0 10px #19d4ca;
  }
  
  input:focus {
    box-shadow: 0 0 10px #19d4ca;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  
  .login-button,
  .register-link {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    text-decoration: none;
  }
  
  .login-button {
    background-color: transparent;
    color: #19d4ca;
  }
  
  .login-button:hover {
    background-color: #19d4ca;
    color: #fff;
    box-shadow: none;
  }
  
  .login-button:active {
    box-shadow: 0 0 10px #19d4ca;
  }
  
  .register-link {
    color: #ccc;
    background-color: transparent;
  }
  
  .register-link:hover {
    color: #fff;
  }
  
  .register-link:active {
    box-shadow: 0 0 10px #ccc;
  }

  .my{
    text-align: center;
    margin-top: 100px;
    font-size: 80px;
  }
  
  .skill-area{
    display: grid;
    flex-direction: column;
    padding: 20px 10%;
    margin: 0;
  }

  .skill{
    position: relative;
    margin-top: 40px;
  }

  .skill-title{
    margin-bottom: 10px;
    font-size: 40px;
  }

  .bar{
    width: 100%;
    height: 40px;
    z-index: -1;
    border-radius: 100px;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
  }

  .fill{
    background: blue;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    overflow: hidden;
  }

  .percent{
    font-size: 30px;
  }

  .html{
    animation: html 2s;
    width: 70%;
  }

  .css{
    animation: js 2s;
    width: 80%;
  }

  .js{
    animation: js 2s;
    width: 50%;
  }

  @keyframes html{
    from{
      width: 0;
    }

    to{
      width: 70%;
    }
  }

  @keyframes css{
    from{
      width: 0;
    }

    to{
      width: 80%;
    }
  }

  @keyframes js{
    from{
      width: 0;
    }

    to{
      width: 50%;
    }
  }

  @media only screen and (max-width: 75px){
    .skill-area{
      padding: 0, 5%;
    }
      
  }

  @media (max-width: 480px) {
    .card {
      width: 100%;
      max-width: 300px;
    }
  }
