*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  color: #fff;
  background: #0c1022;
   
    box-sizing: border-box;
}

.background{
  background: linear-gradient(132deg, #000046, #1CB5E0, #212335);
  background-size: 400%;
  animation: gradient 15s ease infinite;
  position: relative;
  overflow: hidden;
}

.square{
  position: absolute;
  top: 80vh;
  left: 45vh;
  width: 10px;
  height: 10px;
  border: solid 1px #d7d4e4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: square 12s ease-in forwards infinite;
}

.square:nth-child(2n){
  border-color: #fff;
}

.square:nth-child(2){
  animation-delay: 2s;
  left: 25vh;
  top: 40vh;
}

.square:nth-child(3){
  animation-delay: 4s;
  left: 75vh;
  top: 50vh;
}

.square:nth-child(4){
  animation-delay: 6s;
  left: 90vh;
  top: 10vh;
}

.square:nth-child(5){
  animation-delay: 8s;
  left: 10vh;
  top: 50vh;
}

.square:nth-child(3){
  animation-delay: 4s;
  left: 75vh;
  top: 50vh;
}



.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
}

.navbar a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a.it,
.navbar a:hover{
    background: linear-gradient(45deg, #f06, #3cf);
   
}

/*HAMBURGER*/

.Nor{
  height: 0.8em;
  width: 1.25em;
  display: block;
  border-top: 0.2em solid white;
  border-radius: 0.2em;
  border-bottom: 0.2em solid white;
  visibility: hidden;
}

.Nor::before {
  content: '';
  position: absolute;
  width: 1.25em;
  margin-top: 0.3em;
  border-top: 0.2em solid #fff;}

  .navbar{
    display: block;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
  }

  .navb{
    display: none;

  }

  @media screen and (max-width: 750px) {
    .navbar{
      display: none;
    }
    
    .navb{
      display: block;
      visibility: visible;
    }
    
  }



/*SECTION AREA*/

section{
  padding: 100px 10%;
}

.home{
   width: 100%;
   height: 100%;
   min-height: 100vh;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center; 
   grid-gap: 4rem;
   
}

.contents{
    align-items: center;
    margin-left: 175px;
    max-width: 600px;
}

.contents h1{
    font-size: 50px;
    font-weight: 600;
}

.contents h3{
    font-size: 30px;
    font-weight: 600;
}

.info{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin: 1rem 0 2rem;
}

.info h5{
  font-weight: 600;
  color: #f5f5f5;
}

.info span{
  font-size: 9rem;
}

.contents .btn-box{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  width: 320px;
  height: 45px;

}

.contents .btn-box a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: transparent;
  color: #f5f5f5;
  border: 2px solid #12f7ff;
  letter-spacing: 1px;
  font-weight: 600;
  overflow: hidden;
  transition: .6s;
  box-shadow: 0 0 .8rem #12f7ff;
  z-index: 1;
  position: relative;
  text-decoration: none;
}

.btn-box a:hover{
  color: #f5f5f5;
}

.contents .btn-box a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #12f7ff;
  width: 0;
  z-index: -1;
  transition: .6s;
}

.contents .btn-box a:hover::before{
  width: 100%;
}

.btn-box a:nth-child(1){
  background: #12f7ff;
  color: #f5f5f5;
}

.btn-box a:nth-child(1)::before{
  background-color: #0c1022;
}

.btn-box a:nth-child(1):hover{
  background-color: #12f7ff;
}

.image{
  position: relative;
  justify-content: center;
   
}

.img-box{
  text-align: center;
  justify-content: center;
  align-items: center;
}

img{
  width: 30rem;
  height: 30rem;
  
}



/*FORM AREAR*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .card {
    width: 700px;
    background-color: #1e213a;
    padding: 20px;
    border-radius: 10px;
    border-top: 4px solid #19d4ca;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    color: #fff;
    transition: box-shadow 0.3s;
  }

  textarea{
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    color: #fff;
    transition: box-shadow 0.3s;
  }

  textarea:focus{
    box-shadow: 0 0 10px #19d4ca;
  }
  
  input:focus {
    box-shadow: 0 0 10px #19d4ca;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  
  .login-button,
  .register-link {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    text-decoration: none;
  }
  
  .login-button {
    background-color: transparent;
    color: #19d4ca;
  }
  
  .login-button:hover {
    background-color: #19d4ca;
    color: #fff;
    box-shadow: none;
  }
  
  .login-button:active {
    box-shadow: 0 0 10px #19d4ca;
  }
  
  .register-link {
    color: #ccc;
    background-color: transparent;
  }
  
  .register-link:hover {
    color: #fff;
  }
  
  .register-link:active {
    box-shadow: 0 0 10px #ccc;
  }

  /*SKILLS AREAR*/


  .con{
    padding: 15px 9%;
    padding-bottom: 50px;
  }

  .con .heading{
    text-align: center;
    padding-bottom: 50px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 50px;
    margin-top: 80px;
  }

  .con .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
  }

.con .box-container .box{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: transparent;
  text-align: center;
  padding: 30px 20px;
}

.con .box-container .box img{
  height: 90px;
  width: 70px;
}

.con .box-container .box h3{
  color: #444;
  font-size: 22px;
  padding: 10px 0;
}

.con .box-container .box p{
  color: #777;
  font-size: 15px;
  line-height: 1.8;
}

.con .box-container .box .btn{
  margin-top: 10px;
  display: inline-block;
  background: #12f7ff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
  text-decoration: none;
  color: #f5f5f5;
}

.con .box-container .box:hover{
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

@media(max-width:768px){
  .con{
    padding: 20px;
  }
}

  .my{
    text-align: center;
    margin-top: 100px;
    font-size: 80px;
  }
  
  .skill-area{
    display: grid;
    flex-direction: column;
    padding: 20px 10%;
    margin: 0;
  }

  .skill{
    position: relative;
    margin-top: 40px;
  }

  .skill-title{
    margin-bottom: 10px;
    font-size: 40px;
  }

  .bar{
    width: 100%;
    height: 40px;
    z-index: -1;
    border-radius: 100px;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
  }

  .fill{
    background: blue;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    overflow: hidden;
  }

  .percent{
    font-size: 30px;
  }

  .html{
    animation: html 2s;
    width: 70%;
  }

  .css{
    animation: css 2s;
    width: 80%;
  }

  .js{
    animation: js 2s;
    width: 50%;
  }

  .design{
    animation: design 2s;
    width: 30%;
  }

  .ui-ux{
    animation: ui-ux 2s;
    width: 40%;
  }

  @keyframes html{
    from{
      width: 0;
    }

    to{
      width: 70%;
    }
  }

  @keyframes css{
    from{
      width: 0;
    }

    to{
      width: 80%;
    }
  }

  @keyframes js{
    from{
      width: 0;
    }

    to{
      width: 50%;
    }
  }

  @keyframes desgin{
    from{
      width: 0;
    }

    to{
      width: 30%;
    }
  }

  @keyframes ui-ux{
    from{
      width: 0;
    }

    to{
      width: 40%;
    }
  }

  @media only screen and (max-width: 75px){
    .skill-area{
      padding: 0.5%;
    }
      
  }

  @media (max-width: 480px) {
    .card {
      width: 100%;
      max-width: 300px;
    }
  }

  /*FOOTER AREA*/

  footer{
    display: grid;
    grid-area: footer;
    text-align: center;
  }
