*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #0c1022;
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
}

.navbar a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a.it,
.navbar a:hover{
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.home{
   width: 100%;
   height: 600px;
   display: flex;
   align-items: center; 
   padding: 20px, 10%, 0, 10px;
}

.contents{
    align-items: center;
    margin-left: 175px;
}

.contents h1{
    font-size: 50px;
    font-weight: 600px;
}

.contents h3{
    font-size: 30px;
    font-weight: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .card {
    width: 300px;
    background-color: #1e213a;
    padding: 20px;
    border-radius: 10px;
    border-top: 4px solid #19d4ca;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    color: #fff;
    transition: box-shadow 0.3s;
  }

  textarea{
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    color: #fff;
    transition: box-shadow 0.3s;
  }

  textarea:focus{
    box-shadow: 0 0 10px #19d4ca;
  }
  
  input:focus {
    box-shadow: 0 0 10px #19d4ca;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  
  .login-button,
  .register-link {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    text-decoration: none;
  }
  
  .login-button {
    background-color: transparent;
    color: #19d4ca;
  }
  
  .login-button:hover {
    background-color: #19d4ca;
    color: #fff;
    box-shadow: none;
  }
  
  .login-button:active {
    box-shadow: 0 0 10px #19d4ca;
  }
  
  .register-link {
    color: #ccc;
    background-color: transparent;
  }
  
  .register-link:hover {
    color: #fff;
  }
  
  .register-link:active {
    box-shadow: 0 0 10px #ccc;
  }

  h1{
    text-align: center;
    margin-top: 40px;
    font-size: 80px;
  }
  
  .skill-area{
    display: grid;
    grid-template-columns: auto;
    padding: 0, 20px;
  }
  @media (max-width: 480px) {
    .card {
      width: 100%;
      max-width: 300px;
    }
  }
